*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: rgb(0, 0, 34);
    color:white;
    line-height: 1.6;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background-color: rgba(78, 130, 241, 0.815);
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.255);
    position: sticky;
    top: 0;
    z-index: 1000; /*Va garantir que o menu vai ficar acima de todos os elementos*/
}

.logotipo{
    font-size: 35px;
    font-weight: 700;
    color: white;
    letter-spacing: 2px;
}

.logotipo span{
    color: #003a5b;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    margin-left: 30px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: .5s;
}

nav ul li a:hover{
    color: rgb(135, 163, 255);
}

.secao-principal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 8%;
}

.contratar-box{
    margin: auto;
    width: 100%;
    background-color: aliceblue;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(173, 216, 230, 0.767);
}

.contratar-box h1{
    text-align: center;
    font-size: 34px;
    color: #555;
    margin-bottom: 20px;
}

.contratar-box h1 span{
    color: blue;
}

.contratar-box p{
    text-align: center;
    margin-bottom: 20px;
}

.login-group p{
    text-align: center;
    color: #888;
}

.contratar-box{
    margin-bottom: 40px;
}

.input-group label{
    display: block;
    margin-bottom: 10px;
    color: #444;
}

.input-box{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #999;
    margin-bottom: 20px;
}

.input-box input{
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px 0;
    font-size: 14px;
    color: #555;
}

button{
    width: 100%;
    padding: 15px;
    border: none;
    background: #0d7df2;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s;
}

button:hover{
    background: rgb(0, 0, 224);
}

footer{
    background-color: #006494;
    padding: 15px 0;
    text-align: center;
    position: fixed; 
    bottom: 0;       
    width: 100%;     
}

.conteudo-rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.navegacao a{
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 20px;
}

.navegacao a:hover{
    color: rgb(157, 203, 255);
    transition: .5s;
}

.direitos-autorais{
    font-size: 12px;
}